.result-page{
  .all-question-list{
    margin-bottom: 30px;
    .question-list{
      margin-top: 30px;
      .question, .selected, .answer{
        display: flex;
        margin-bottom: 5px;
        font-size: 14px;
        label{
          flex: 1;
          padding-right: 10px;
          font-weight: 700;
        }
        div{
          flex: 5;
        }
      }
    }
  }
  .score{
    display: flex;
    label{
      flex: 1;
      font-weight: 700;
      font-size: 14px;
      padding-right:10px;
    }
    span {
      flex: 5;
      font-size: 14px;
    }
  }
  .message-label{
    color: #303F9F;
  }
}