.header-container{
  width: 100%;
  top: 0;
  position: fixed;
  height: 48px;
  background: #303F9F;
  color: white;
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: center;
}